.fixedbar{
    z-index: 300;
    background-color:white;
    position: fixed;
    width: 100%;
    top: 0;

}
.top{

    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 30px;
    background-color: #F8BBD0;
    /* border: 1px solid red; */
}
.top>div:nth-child(1){    
    display: flex;
    align-items: center;
}
.top img{
    height: 40px;
    margin: 30px;
}
.top button{
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #F50057;
    padding: 15px;
}
.top span{
    font-size: 25px;
    color: yellow;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px 40px 10px 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.nav>div{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav a{
    margin: 0 10px 0 10px;
    text-decoration: none;
    font-weight: bold;
    color: blue;
}
.dropdown-content {
  display: none;
  top:80%;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index:500;
  /* height: 300px; */
}
.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.show {
  display: block;
} 
       
.sortcut{
    display: flex;
    margin-top: 200px;
    justify-content: center;
}
.sortcut button{
    padding: 7px 15px 7px 15px;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: none;
}

.banner{
    margin-top: 20px;
}
.banner>img{
    /* margin: auto; */
    width: 100%;
    height: 350px;
}

.container h1{
    text-align: center;
}
.sortby{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    gap: 10px;
    padding: 10px;
}
#login{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 4px;
}
.sortby>div{
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
}
.sortby>div:nth-child(7){
    border: none;
}

.newArr{
    width: 80%;
    display: grid;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.newArr>div{
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.newArr img{
    width: 100%;
    height: 200px;
}

.allproduct{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px 20px;
}
.allproduct>div{
    border: 1px solid black;
}
.allproduct img{
    width: 100%;
    height: 230px;
}